# OS X
.DS_Store

# Xcode
build/
output/
*.pbxuser
!default.pbxuser
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
SocialChallenge.xcworkspace/

# CocoaPods
Pods/

#Documentation
Documentation
